# OS
.DS_Store
Thumbs.db

# Editor
.idea/

# Env
.env
.env.*
!.env*.example

# Logs
*.log

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Coverage
coverage/
.coverage

# Misc
*.tmp
*.swp
+